<div class="relative overflow-x-auto">
  <table
    class="w-full text-sm bg-white text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead class="text-xs text-black font-semibold bg-white">
      <tr>
        <th>Roles</th>
        <% actions.forEach(action => { %> 
          <% if (action.create) { %>
            <th scope="col" class="px-6 py-3">Create</th>
          <% } %>
          <% if (action.read) { %>
            <th scope="col" class="px-6 py-3">Read</th>
          <% } %>
          <% if (action.update) { %>
            <th scope="col" class="px-6 py-3">Update</th>
          <% } %>
          <% if (action.deletes) { %>
            <th scope="col" class="px-6 py-3">Delete</th>
          <% } %>
          
          <% }); %>
          <% for(var i=0; i<tests.length; i++) { %>
            <% var adminArray = tests[i].Admin; %>
            <% for(var j=0; j<adminArray.length; j++) { %>
              <p><%= adminArray %></p>
            <% } %>
          <% } %>
      </tr>
    </thead>
    <tbody>
     
      <form
      id="rolesForm"
      hx-post="/save-roles"
      hx-trigger="submit"
      hx-headers='{"Content-Type": "application/json"}'
      hx-ext="json-enc"
      >
        <input type="hidden" name="Module" value="<%= tests.moduleType %>">
        <input type="hidden" name="Section" value="<%= tests.type %>">
        
        <% for(var i=0; i<tests.Admin.length; i++) {%>
        <tr class="bg-white border-b light:bg text-black border-gray-300">
          <th scope="row" class="px-6 py-4 font-medium text-black">
            <% if (tests.Admin[i]) { %>
              <p><%= tests.Admin[i] %></p>
            <% } %>
            
          </th>
          <% actions.forEach(action => { %> <% if (action.create) {
            %>
            <td class="px-8 py-4">
              <input type="checkbox" name="<%= tests.Admin[i] %>" value="<%= action.create %>" checked/>
            </td>
            <% } %> <% if (action.read) { %>
            <td class="px-8 py-4">
              <input type="checkbox" name="<%= tests.Admin[i] %>" value="<%= action.read %>" checked/>
            </td>
            <% } %> <% if (action.update) { %>
            <td class="px-8 py-4">
              <input type="checkbox" name="<%= tests.Admin[i] %>" value="<%= action.update %>" checked/>
            </td>
            <% } %> <% if (action.deletes) { %>
            <td class="px-8 py-4">
              <input type="checkbox" name="<%= tests.Admin[i] %>" value="<%= action.deletes %>" checked/>
            </td>
            <% } %> <% }); %>
        </tr>
        <% } %>
        
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="text-end">
            <button
              type="submit"
              class="mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >
              Save
            </button>
          </td>
        </tr>
        
      </form>
    </tbody>
  </table>

</div>
